<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Biometric Authentication</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <div class="card">

            <h1>Voice Biometric Authentication</h1>

            <p>
                A Flask-based web application for secure speaker registration
                and authentication using the ECAPA-TDNN deep learning model.
            </p>

            <div class="button-group">

                <a href="{{ url_for('register') }}">
                    <button>Register</button>
                </a>

                <a href="{{ url_for('authenticate') }}">
                    <button>Authenticate</button>
                </a>

            </div>

        </div>

        <div class="footer">
            Developed by Muhammad Saim Ansari
        </div>

    </div>

</body>

</html>