# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environments
# ==========================================
.venv/
venv/
env/
ENV/

# Conda
.conda/
conda-meta/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# PyCharm
# ==========================================
.idea/

# ==========================================
# Build / Distribution
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.bak

eda.ipynb